header{
    padding-top: 20px;
    height: 100px;
    text-align: center;
}
    
.card{
    margin-bottom: 5px;
}

.card h6{
    text-align: right;
    
}
.principal{
    max-width: 600px;
}

.footer{
    padding: 20px;
    
}

.card-subtitle {
    margin-left: 69.2rem;
}